@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Arial, Helvetica, sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer components {
  .listTop {
    @apply absolute top-0 left-0 translate-y-0 group-hover:-translate-y-[100%] transition-transform ease-in-out duration-300;
  }
  .listBottom {
    @apply absolute top-0 left-0 translate-y-[100%] group-hover:translate-y-0 transition-transform ease-in-out duration-300;
  }
}
